<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_list">
<h1 id="view-title" class="page-header" data-localize="page">Archive</h1>
<h2 id="section-title" class="sub-header"></h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-left">
    <label for="selection" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Select {{placeholder}}</label>
    <select id="selection" onchange="control.action(this, 'selection')"></select>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')"><span class="button-label" data-localize="action">Export</span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;" data-localize="action">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;" data-localize="action">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')" data-localize="action">Print</button>
  </div>
  <div class="clearfix"></div>
  <div>
    <a class="btn btn-gray-light" href="../index.html?archive&add" target="_parent"><span class="link-label" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Create New {{placeholder}}</span> &raquo;</a>
    <div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
    <a class="action btn btn-gray-lighter" href="../index.html?archive&close={id}" onclick="control.action(this, 'close'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Close {{placeholder}}</a>
    <a class="action btn btn-secondary" href="../index.html?archive&edit={id}" onclick="control.action(this, 'edit'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Edit {{placeholder}}</a>
    <a class="action btn btn-danger" href="../index.html?archive&delete={id}" onclick="control.action(this, 'delete'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Delete {{placeholder}}</a>
  </div>
</div>


<form id="form-data" class="form form-data" autocomplete="off" validate>
<div class="table-responsive">
  <table id="table-data" class="table table-data">
    <thead>
      <tr class="hidden-csv">
        <th class="hidden-print" data-localize="page">Actions</th>
        <th data-localize="page">ID</th>
        <th class="text-nowrap" data-localize="page">Name</th>
        <th class="text-nowrap">Family</th>
        <th class="text-center text-nowrap">New samples</th>
        <th class="text-center text-nowrap">New finds</th>
        <th class="separator"></th>
        <th colspan="4" class="text-center">Popularity</th>
      </tr>
      <tr class="visible-csv hidden">
        <th data-localize="page">ID</th>
        <th data-localize="page">Name</th>
        <th>Family</th>
        <th>New samples</th>
        <th>New finds</th>
        <th></th>
        <th>Movies</th>
        <th>Toyes</th>
        <th>Books</th>
        <th>SUBTOTAL</th>
      </tr>
      <tr class="hidden-csv">
        <td class="hidden-print"></td>
        <td colspan="6"></td>
        <td class="text-center text-nowrap">Movies</td>
        <td class="text-center text-nowrap">Toyes</td>
        <td class="text-center text-nowrap">Books</td>
        <td class="text-center text-nowrap"><strong>SUBTOTAL</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td class="hidden-print">
          <a class="action btn btn-gray" href="../index.html?archive&open={id}" onclick="control.action(this, 'open'); return false;" target="_parent" data-localize="action">Open</a>
        </td>
        <td>{id}</td>
        <td class="text-uppercase text-nowrap">{name}</td>
        <td class="text-nowrap"><em>{type}</em></td>
        <td class="text-center text-nowrap">{custom_1}</td>
        <td class="text-center text-nowrap">{custom_2}</td>
        <td class="separator"></td>
        <td class="text-center">{pop_movies}</td>
        <td class="text-center">{pop_toyes}</td>
        <td class="text-center">{pop_books}</td>
        <td class="text-center"><strong>{pop_subtotal}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
</form>


<div id="table-wrap-2">
<h4 data-localize="page">Summary</h4>

<table id="table-2" class="table table-bordered table-auto table-inline">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Toyes</th>
      <th>Books</th>
      <th><strong>SUBTOTAL</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td>{archive_pop_movies}</td>
      <td>{archive_pop_toyes}</td>
      <td>{archive_pop_books}</td>
      <td><strong>{archive_pop_subtotal}</strong></td>
    </tr>
  </tbody>
</table>

<div id="note-2">
  <h5>NOTE</h5>

  <p><strong>New samples:</strong> {archive_custom_1}</p>
  <p><strong>New finds:</strong> {archive_custom_2}</p>
</div>
</div>


<div id="section-actions-bottom" class="section-actions section-actions-bottom">
  <a class="action btn btn-gray-lighter" href="../index.html?archive&close={id}" onclick="control.action(this, 'close'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Close {{placeholder}}</a>
  <a class="action btn btn-secondary" href="../index.html?archive&edit={id}" onclick="control.action(this, 'edit'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Edit {{placeholder}}</a>
  <a class="action btn btn-danger" href="../index.html?archive&delete={id}" onclick="control.action(this, 'delete'); return false;" target="_parent" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Delete {{placeholder}}</a>
</div>


<style type="text/css">
#table-wrap-2 { margin-top: 50px; margin-bottom: 70px; }
#table-wrap-2 table { margin-bottom: 50px; }
#table-wrap-2 h4 { margin-bottom: 25px; }
#table-wrap-2 h5 { margin-top: 20px; margin-bottom: 25px; }
html[dir="rtl"] #table-wrap-2 p { direction: ltr; text-align: right; }
</style>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>
<script type="text/javascript" src="../locale.min.js"></script>


<script type="text/javascript">
var control = appe__control = {};



control.handle = function(data) {
  var data_archive = data['archive'];
  var data_categories = data['categories'];
  var data_items = data['items'];

  var table = document.getElementById('table-data');

  if (! data_archive || ! data_categories || ! data_items) {
    return app.error('control.handle', 'data*');
  }


  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id') || 1;
  var category_id = app.memory.get('category_id') || 1;

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};
  var categories_data = __data ? data_categories[category_id] : {};



  var archive_selection = [];

  Array.prototype.forEach.call(Object.keys(data_archive), function(id) {
    var obj = {};
    obj[id] = data_archive[id][category_id].title;
    archive_selection.push(obj);
  });


  var _control = app.view.control(null, archive_data);

  _control.begin();


  var event = _control.getEvent();
  var id = _control.setID(archive_id);


  _control.setTitle(archive_data.title || '');

  _control.fillCTA(__data && id);

  _control.fillSelection(archive_selection, (__data && id));



  // join (items) + order (archive.items[id].pop.subtotal) + subtotals

  var _archive_items_join = {};

  Array.prototype.forEach.call(Object.keys(archive_items), function(_id) {
    if (data_items[_id]) {
      _archive_items_join[_id] = app.utils.extendObject(true, archive_items[_id], data_items[_id]);
    } else {
      delete _archive_items_join[_id];
    }
  });

  var _order = [];
  var _ordered_keys = [];

  var _data_updated = {};

  var _archive_items_subtotals = { 'movies': 0, 'toyes': 0, 'books': 0, 'subtotal': 0 };

  Array.prototype.forEach.call(Object.keys(_archive_items_join), function(_id) {
    if (! _archive_items_join[_id].pop) {
      _archive_items_join[_id].pop = {};
    }

    _archive_items_join[_id].pop['movies'] = parseInt(_archive_items_join[_id].pop['movies'] || 0);
    _archive_items_join[_id].pop['toyes'] = parseInt(_archive_items_join[_id].pop['toyes'] || 0);
    _archive_items_join[_id].pop['books'] = parseInt(_archive_items_join[_id].pop['books'] || 0);

    _archive_items_join[_id].pop.subtotal  = 0;
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['movies'];
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['toyes'];
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['books'];

    _archive_items_subtotals['movies'] += _archive_items_join[_id].pop['movies'];
    _archive_items_subtotals['toyes'] += _archive_items_join[_id].pop['toyes'];
    _archive_items_subtotals['books'] += _archive_items_join[_id].pop['books'];
    _archive_items_subtotals.subtotal += _archive_items_join[_id].pop.subtotal;

    _order.push([ _id, (_archive_items_join[_id].pop.subtotal != undefined ? _archive_items_join[_id].pop.subtotal : _id) ]);
  });

  _order.sort(function(a, b) { return b[1] - a[1]; });
  _order = Object.values(_order);

  Array.prototype.forEach.call(_order, function(value) {
    _ordered_keys.push(value[0]);
  });



  _control.fillTable(table, _archive_items_join, _ordered_keys, archive_items, categories_data);



  var t2body = document.querySelector('#table-2 > tbody');
  var t2row = t2body.querySelector('tr');

  var t2note = document.querySelector('#note-2');

  t2row.innerHTML = t2row.innerHTML
    .replace('{archive_pop_movies}', _archive_items_subtotals['movies'])
    .replace('{archive_pop_toyes}', _archive_items_subtotals['toyes'])
    .replace('{archive_pop_books}', _archive_items_subtotals['books'])
    .replace('{archive_pop_subtotal}', _archive_items_subtotals.subtotal);

  archive_data.custom = archive_data.custom || {};

  t2note.innerHTML = t2note.innerHTML
    .replace('{archive_custom_1}', (archive_data.custom['1'] || 'n.d.'))
    .replace('{archive_custom_2}', (archive_data.custom['2'] || 'n.d.'));



  _control.end();
}



control.renderRow = function(tpl_row, id_row, data_row, extra) {
  if (! tpl_row || ! data_row) {
    return app.error('control.renderRow', arguments);
  }



  var archive_items_extra = extra[0];
  var categories_data_extra = extra[1];

  archive_items_extra[data_row.id] = archive_items_extra[data_row.id] || {};
  archive_items_extra[data_row.id].custom = archive_items_extra[data_row.id].custom || { '1': false, '2': false };



  var row = tpl_row.cloneNode(true);

  row.setAttribute('data-index', data_row.id);

  row.innerHTML = row.innerHTML
    .replace(/\{id\}/g, data_row.id)
    .replace('{name}', data_row.name)
    .replace('{type}', categories_data_extra.types[data_row.type])
    .replace('{custom_1}', '<span class="text-label" data-localize="page">' + (archive_items_extra[data_row.id].custom['1'] ? 'yes' : 'no') + '</span>')
    .replace('{custom_2}', '<span class="text-label" data-localize="page">' + (archive_items_extra[data_row.id].custom['2'] ? 'yes' : 'no') + '</span>')
    .replace('{pop_movies}', data_row.pop['movies'])
    .replace('{pop_toyes}', data_row.pop['toyes'])
    .replace('{pop_books}', data_row.pop['books'])
    .replace('{pop_subtotal}', data_row.pop['subtotal']);

  return row;
}



control.action = function(element, event, extra) {
  var table = document.getElementById('table-data');

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'selection', 'open', 'edit', 'delete', 'close', 'export', 'print' ], event, element);

  _action.begin();


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};


  _events.selection = function() {
    return _action.selection();
  }


  _events.open = function() {
    return _action.open();
  }


  _events.edit = function() {
    return _action.edit(_data_updated, false);
  }


  _events.delete = function() {
    var data_archive = app.data('archive');

    if (! data_archive) {
      return app.error('control.action().delete', arguments);
    }

    var category_id = app.memory.get('category_id') || 1;

    var title = app.i18n('Are you sure to {{placeholder}} {{name}} {{title}}?', 'action', {
      'placeholder': app.i18n('delete', 'event'),
      'name': app.i18n('Archive||Archives', 'page', [[1]]),
      'title': '"' + data_archive[id][category_id].title + '"'
    });

    title += '\n\n';

    title += app.i18n('CAUTION! Irreversible action, all data\'s {{placeholder}} will be erased permanently, be carefull.', 'action', app.i18n('Archive', 'page')).toUpperCase();

    _data_updated['archive'] = data_archive;

    delete _data_updated[id];

    return _action.delete(_data_updated, true, title);
  }


  _events.close = function() {
    var data_archive = app.data('archive');

    if (! data_archive) {
      return app.error('control.action().close', 'data*');
    }

    var category_id = app.memory.get('category_id') || 1;

    var title = app.i18n('Are you sure to {{placeholder}} {{name}} {{title}}?', 'action', {
      'placeholder': app.i18n('close', 'event'),
      'name': app.i18n('Archive||Archives', 'page', [[1]]),
      'title': '"' + data_archive[id][category_id].title + '"'
    });

    _data_updated['archive'] = data_archive;
    _data_updated['archive'][id][category_id].status = 0;

    return _action.close(_data_updated, true, title);
  }


  _events.export = function(method) {
    app.view.sub(method, element, table);

    return;
  }


  _events.print = function() {
    return _action.print();
  }


  var ctl = _events[event](extra);

  app.view.send(ctl);

  _action.end();
}



app.load(app.view.load);
</script>
</body>
</html>