<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_list">
<h1 id="view-title" class="page-header"></h1>
<h2 id="section-title" class="sub-header"></h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-left">
    <label for="selection" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" data-localize="action" data-localize-replacement="{{Archive||Archives%%1[[page]]}}">Select {{placeholder}}</label>
    <select id="selection" onchange="control.action(this, 'selection')"></select>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')"><span class="button-label" data-localize="action">Export</span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;" data-localize="action">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;" data-localize="action">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')" data-localize="action">Print</button>
  </div>
  <div class="clearfix"></div>
  <div>
    <a class="btn btn-gray-light" href="../index.html?demo&list" target="_parent"><span class="link-label" data-localize="page">List View</span> &bull;</a>
  </div>
</div>


<div class="table-responsive">
  <table id="table-data" class="table table-large table-data">
    <thead>
      <tr class="hidden-csv">
        <th class="hidden-print" data-localize="page">Actions</th>
        <th><a class="order-key order-key-id" href="javascript:" onclick="control.action(this, 'order', 'id'); return false;" data-localize="page"><span class="text-label" data-localize="page">ID</span> <span class="order-sort"></span></a></th>
        <th class="text-nowrap"><a class="order-key order-key-name" href="javascript:" onclick="control.action(this, 'order', 'name'); return false;"><span class="text-label" data-localize="page">Name</span> <span class="order-sort"></span></a></th>
        <th><a class="order-key order-key-title" href="javascript:" onclick="control.action(this, 'order', 'title'); return false;"><span class="text-label" data-localize="page">Specimen</span> <span class="order-sort"></span></a></th>
        <th class="text-center text-nowrap"><a class="order-key order-key-date" href="javascript:" onclick="control.action(this, 'order', 'date'); return false;"><span class="text-label" data-localize="page">Discovered</span> <span class="order-sort"></span></a></th>
        <th class="text-center"><a class="order-key order-key-checked" href="javascript:" onclick="control.action(this, 'order', 'checked'); return false;"><span class="text-label" data-localize="page">Fantastic</span> <span class="order-sort"></span></a></th>
        <th class="separator"></th>
        <th colspan="5" class="text-center"><a class="order-key order-key-pop-total" href="javascript:" onclick="control.action(this, 'order', 'pop_total'); return false;"><span class="text-label" data-localize="page">Popularity</span> <span class="order-sort"></span></a></th>
        <th class="text-center"><a class="order-key order-key-awards" href="javascript:" onclick="control.action(this, 'order', 'awards'); return false;"><span class="text-label" data-localize="page">AWARDS</span> <span class="order-sort"></span></a></th>
      </tr>
      <tr class="visible-csv hidden">
        <th data-localize="page">ID</th>
        <th data-localize="page">Name</th>
        <th>Specimen</th>
        <th>Discovered</th>
        <th>Fantastic</th>
        <th class="separator"></th>
        <th>AVG</th>
        <th>Movies</th>
        <th>Toyes</th>
        <th>Books</th>
        <th>INDEX</th>
        <th>AWARDS</th>
      </tr>
      <tr class="hidden-csv">
        <td class="hidden-print"></td>
        <td colspan="6"></td>
        <td class="text-center text-nowrap">AVG</td>
        <td class="text-center text-nowrap">Movies</td>
        <td class="text-center text-nowrap">Toyes</td>
        <td class="text-center text-nowrap">Books</td>
        <td class="text-center text-nowrap">TOTAL</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td class="hidden-print">
          <a class="action btn btn-gray" href="../index.html?demo&open={id}" onclick="control.action(this, 'open'); return false;" target="_parent" data-localize="action">Open</a>
        </td>
        <td>{id}</td>
        <td class="text-nowrap text-uppercase">{name}</td>
        <td>{title}</td>
        <td class="text-center">{date}</td>
        <td class="text-center">{checked}</td>
        <td class="separator"></td>
        <td class="text-center">{pop_avg}</td>
        <td class="text-center">{pop_movies}</td>
        <td class="text-center">{pop_toyes}</td>
        <td class="text-center">{pop_books}</td>
        <td class="text-center">{pop_total}</td>
        <td class="text-center">{awards}</td>
      </tr>
    </tbody>
  </table>
</div>

<nav id="pagination-nav" class="pagination-nav">
  <ul class="pagination">
    <li><a href="javascript:" onclick="control.action(this, 'page', '{page_prev}'); return false;"></a></li>
    <li class="tpl"><a href="javascript:" onclick="control.action(this, 'page', '{page_num}'); return false;">{page_num}</a></li>
    <li><a href="javascript:" onclick="control.action(this, 'page', '{page_next}'); return false;"></a></li>
  </ul>
</nav>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>
<script type="text/javascript" src="../locale.min.js"></script>


<script type="text/javascript">
var control = appe__control = {};



control.handle = function(data) {
  var data_archive = data['archive'];
  var data_categories = data['categories'];
  var data_items = data['items'];

  var table = document.getElementById('table-data');
  var pagination = document.getElementById('pagination-nav');

  if (! data_archive || ! data_categories || ! data_items) {
    return app.error('control.handle', 'data*');
  }


  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id') || 1;
  var category_id = app.memory.get('category_id') || 1;

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};
  var categories_data = __data ? data_categories[category_id] : {};



  var archive_selection = [];

  Array.prototype.forEach.call(Object.keys(data_archive), function(id) {
    var obj = {};
    obj[id] = data_archive[id][category_id].title;
    archive_selection.push(obj);
  });


  var _control = app.view.control(null, archive_data);

  _control.begin();


  var event = _control.getEvent();
  var id = _control.setID(archive_id);


  var title = (archive_data.title || '');

  _control.setTitle(title, app.i18n('Demo', 'custom'));

  _control.fillSelection(archive_selection, (__data && id));


  var _events = {};


  _events.update = function(data_updated) {
    control.action(true, 'update', data_updated);
  }



  // join (items) + order (archive.items[id].awards) + sort + pager + update

  var _archive_items_join = {};

  Array.prototype.forEach.call(Object.keys(archive_items), function(_id) {
    if (data_items[_id]) {
      _archive_items_join[_id] = app.utils.extendObject(true, archive_items[_id], data_items[_id]);
    } else {
      delete _archive_items_join[_id];
    }
  });

  var _order = [];

  var _order_key = app.memory.get('demo_order_key') || 'awards';
  var _order_sort = app.memory.get('demo_order_sort') || 'asc';
  var _order_limit = app.memory.get('demo_order_limit') || 20;
  var _order_page = app.memory.get('demo_order_page') || 1;

  var selected_order_key = table.querySelector('.order-key-' + _order_key.replace(/[^a-z0-9-]+/, '-'));
  var selected_order_key_cell_index = null;

  if (selected_order_key) {
    selected_order_key.classList.add('active');

    switch (_order_key) {
      case 'pop_total': selected_order_key_cell_index = 12; break;
      case 'awards': selected_order_key_cell_index = 13; break;
      default: selected_order_key_cell_index = selected_order_key.offsetParent.cellIndex + 1;
    }

    selected_order_key.querySelector('.order-sort').classList.add('order-sort-' + _order_sort);
  }

  var _ordered_keys = [];

  var _data_updated = {};

  Array.prototype.forEach.call(Object.keys(_archive_items_join), function(id) {
    if (! _archive_items_join[id].pop) {
      _archive_items_join[id].pop = {};
    }

    _archive_items_join[id].pop['avg'] = parseInt(_archive_items_join[id].pop['avg'] || 0);
    _archive_items_join[id].pop['movies'] = parseInt(_archive_items_join[id].pop['movies'] || 0);
    _archive_items_join[id].pop['toyes'] = parseInt(_archive_items_join[id].pop['toyes'] || 0);
    _archive_items_join[id].pop['books'] = parseInt(_archive_items_join[id].pop['books'] || 0);

    if (! _archive_items_join[id].pop.total) {
      _archive_items_join[id].pop.total  = 0;
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['avg'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['movies'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['toyes'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['books'];

      if (_archive_items_join[id].pop.total) {
        _data_updated['archive'] = data_archive;
        _data_updated['archive'][archive_id][category_id]['items'][id].pop = _archive_items_join[id].pop;
      }
    }

    _archive_items_join[id].pop_total = _archive_items_join[id].pop.total;

    _order.push([ id, (_archive_items_join[id][_order_key] != undefined ? _archive_items_join[id][_order_key] : id) ]);

    delete _archive_items_join[id].pop_total;
  });


  var _order_keys_count = 0;

  _order.sort(function(a, b) {
    if (typeof a[1] == 'string' && typeof b[1] == 'string') {
      a[1] = a[1].toLowerCase();
      b[1] = b[1].toLowerCase();

      return _order_sort === 'desc' ? a[1].localeCompare(b[1]) : b[1].localeCompare(a[1]);
    } else {
      return _order_sort === 'desc' ? a[1] - b[1] : b[1] - a[1];
    }
  });
  _order_keys_count = _order.length;
  _order = Object.values(_order);

  Array.prototype.forEach.call(_order, function(value) {
    _ordered_keys.push(value[0]);
  });


  var _order_pages_count = _order_keys_count ? Math.ceil(_order_keys_count / _order_limit) : 1;
  var _order_limit_offset = [ 0, _order_keys_count ];

  _order_limit_offset[0] = _order_page > 1 ? (_order_page - 1) * _order_limit : 0;
  _order_limit_offset[1] = _order_page === _order_pages_count ? _order_keys_count : _order_page * _order_limit;

  _ordered_keys = _ordered_keys.slice(_order_limit_offset[0], _order_limit_offset[1]);



  _control.fillTable(table, _archive_items_join, _ordered_keys, selected_order_key_cell_index);
  _control.paginate(pagination, _order_pages_count, _order_page);
  _control.localize(table);




  if (_data_updated && Object.keys(_data_updated).length) {
    _events.update(_data_updated);
  }


  _control.end();
}



control.renderRow = function(tpl_row, id_row, data_row, extra) {
  if (! tpl_row || ! data_row) {
    return app.error('control.renderRow', arguments);
  }


  var selected_order_key_cell_index = extra[0];


  var row = tpl_row.cloneNode(true);

  row.setAttribute('data-index', data_row.id);

  row.innerHTML = row.innerHTML
    .replace(/\{id\}/g, data_row.id)
    .replace('{name}', data_row.name)
    .replace('{title}', data_row.title)
    .replace('{date}', app.utils.dateFormat(data_row.date, 'Y'))
    .replace('{checked}', '<span class="text-label" data-localize="page">' + (data_row.checked ? 'yes' : 'no') + '</span>')
    .replace('{pop_avg}', data_row.pop['avg'])
    .replace('{pop_movies}', data_row.pop['movies'])
    .replace('{pop_toyes}', data_row.pop['toyes'])
    .replace('{pop_books}', data_row.pop['books'])
    .replace('{pop_total}', data_row.pop['total'])
    .replace('{awards}', (data_row.awards || 0));

  if (selected_order_key_cell_index != null) {
    row.querySelector(':nth-child(' + selected_order_key_cell_index + ')').classList.add('font-weight-bold');
  }

  return row;
}



control.action = function(element, event, extra) {
  var table = document.getElementById('table-data');

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'selection', 'open', 'update', 'export', 'print', 'order', 'page' ], event, element);

  _action.begin();


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};


  _events.selection = function() {
    return _action.selection(null, true);
  }


  _events.open = function() {
    return _action.open();
  }


  _events.update = function() {
    if (! (extra && typeof extra === 'object')) {
      return app.error('control.action().update', 'extra');
    }

    if (app.memory.has('demo_updated')) {
      if ((app.utils.dateFormat(true, 'V') - app.memory.get('demo_updated')) < 3000) {
        return;
      }
    }

    app.memory.set('demo_updated', app.utils.dateFormat(true, 'V'));

    _data_updated = extra;

    return _action.update(_data_updated, true);
  }


  _events.export = function(method) {
    app.view.sub(method, element, table);

    return;
  }


  _events.print = function() {
    return _action.print();
  }

  _events.order = function(key) {
    var sort;

    var current_order_key = app.memory.get('demo_order_key') || 'awards';
    var current_order_sort = app.memory.get('demo_order_sort') || 'desc';

    if (current_order_key == key) {
      sort = current_order_sort == 'desc' ? 'asc' : 'desc';
    } else {
      sort = 'asc';
    }

    app.memory.set('demo_order_key', key);
    app.memory.set('demo_order_sort', sort);

    return location.reload();
  }

  _events.page = function(page) {
    var current_page = app.memory.get('demo_order_page') || 1;

    if (current_page == page) {
      return;
    }

    app.memory.set('demo_order_page', page);

    return location.reload();
  }


  var ctl = _events[event](extra);

  app.view.send(ctl);

  _action.end();
}



app.load(app.view.load);
</script>
</body>
</html>