<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_edit">
<h1 id="view-title" class="page-header"></h1>
<h2 id="section-title" class="sub-header"></h2>


<div id="section-actions-top" class="section-actions section-actions-top">
  <div>
    <a class="btn btn-sm btn-gray-lighter" href="../index.html?demo" target="_parent">&laquo; <span class="link-label" data-localize="action">Return Back</span></a>
  </div>
</div>


<form id="form-data" class="form form-data" autocomplete="off" validate>
<fieldset>
<legend>Popularity</legend>

<table id="table-2" class="table table-bordered table-auto">
  <thead>
    <tr>
      <th class="text-center">AVG</th>
      <th class="text-center">Movies</th>
      <th class="text-center">Toyes</th>
      <th class="text-center">Books</th>
      <th class="text-center"><strong>TOTAL</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">{archive_item_pop_avg}</td>
      <td class="text-center">{archive_item_pop_movies}</td>
      <td class="text-center">{archive_item_pop_toyes}</td>
      <td class="text-center">{archive_item_pop_books}</td>
      <td class="text-center"><strong>{archive_item_pop_total}</strong></td>
    </tr>
  </tbody>
</table>
</fieldset>


<fieldset>
<legend>Awards</legend>

<div class="row">
<div class="form-group col-12 col-lg-2">
  <label for="main_item_awards">Awards</label>
  <input type="number" id="main_item_awards" name="awards" class="form-control input-lg" data-transform="integer" onchange="control.action(this, 'update')">
</div>
</fieldset>


<fieldset class="form-submit">
  <input type="hidden" id="index" name="id" value="{id}" data-transform="integer">
  <input type="submit" id="real-submit" hidden class="hide">
  <p class="help-block" data-localize="page">Auto-save on change.</p>
</fieldset>
</form>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>
<script type="text/javascript" src="../locale.min.js"></script>


<script type="text/javascript">
var control = appe__control = {};



control.handle = function(data) {
  var data_archive = data['archive'];
  var data_categories = data['categories'];
  var data_items = data['items'];

  var form = document.getElementById('form-data');

  if (! data_archive || ! data_categories || ! data_items) {
    return app.error('control.handle', 'data*');
  }



  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id') || 1;
  var category_id = app.memory.get('category_id') || 1;

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var categories_data = __data ? data_categories[category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};



  var _control = app.view.control(null, archive_data, form);

  _control.begin();

  
  var event = _control.getEvent();
  var id = _control.getID();


  var title = '';

  if (data_archive[archive_id][category_id].title) {
    title = app.i18n('Edit {{placeholder}} "{{title}}"', 'action', [
      app.i18n('Item||Items', 'page', [[1]]),
      data_items[id].name.toUpperCase(),
      data_archive[archive_id][category_id].title
    ]);
  }

  _control.setTitle(title, app.i18n('Demo', 'custom'));

  _control.setActionHandler();



  var t2body = document.querySelector('#table-2 > tbody');
  var t2head = document.querySelector('#table-2 > thead');
  var t2row = t2body.querySelector('tr');

  if (! archive_items[id].pop) {
    archive_items[id].pop = {};
  }

  archive_items[id].pop['avg'] = parseInt(archive_items[id].pop['avg'] || 0);
  archive_items[id].pop['movies'] = parseInt(archive_items[id].pop['movies'] || 0);
  archive_items[id].pop['toyes'] = parseInt(archive_items[id].pop['toyes'] || 0);
  archive_items[id].pop['books'] = parseInt(archive_items[id].pop['books'] || 0);

  if (! archive_items[id].pop.total) {
    archive_items[id].pop.total  = 0;
    archive_items[id].pop.total += archive_items[id].pop['avg'];
    archive_items[id].pop.total += archive_items[id].pop['movies'];
    archive_items[id].pop.total += archive_items[id].pop['toyes'];
    archive_items[id].pop.total += archive_items[id].pop['books'];
  }

  t2row.innerHTML = t2row.innerHTML
    .replace('{archive_item_pop_avg}', archive_items[id].pop['avg'])
    .replace('{archive_item_pop_movies}', archive_items[id].pop['movies'])
    .replace('{archive_item_pop_toyes}', archive_items[id].pop['toyes'])
    .replace('{archive_item_pop_books}', archive_items[id].pop['books'])
    .replace('{archive_item_pop_total}', archive_items[id].pop['total']);



  _control.fillForm(form, archive_items[id], archive_data);


  _control.end();
}



control.fillForm = function(data_form, extra) {
  if (! data_form) {
    return app.error('control.fillForm', arguments);
  }


  var archive_data_extra = extra[0];


  if (! archive_data_extra.status) {
    document.getElementById('main_item_awards').setAttribute('readonly', '');
    document.getElementById('main_item_awards').setAttribute('disabled', '');
  }

  document.getElementById('main_item_awards').setAttribute('value', (data_form.awards || 0));
}



control.action = function(element, event, extra) {
  var form = document.getElementById('form-data');

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'update' ], event, element, form);

  _action.begin();


  if (_action.validateForm()) {
    return;
  }


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};


  _events.update = function() {
    var data_archive = app.data('archive');

    if (! data_archive) {
      return app.error('control.action().update', 'data*');
    }

    var archive_id = app.memory.get('archive_id') || 1;
    var category_id = app.memory.get('category_id') || 1;

    _data_updated['archive'] = data_archive;

    var _ext_data = app.utils.extendObject(true, _data_updated['archive'][archive_id][category_id]['items'][id], app.view.getFormData(form.elements));

    _data_updated['archive'][archive_id][category_id]['items'][id] = _ext_data;

    return _action.update(_data_updated, true);
  }


  var ctl = _events[event](extra);

  app.view.send(ctl);

  _action.end();
}



app.load(app.view.load);
app.beforeunload(app.view.beforeunload);
</script>
</body>
</html>