<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view about">
<h1 class="page-header">About</h1>

<section class="page-section">
<div class="row">
<div class="col-xs-3 col-md-1">
  <span class="appe">&#123;appe&#125;</span>
</div>
<div class="col-xs-9 col-md-8 col-lg-9">
  <p class="text-muted"></p>
</div>
</div>

<div id="appe" class="page-block">
  <p><strong>&#123;appe&#125;</strong> &nbsp; {release}</p>
  <p>{copyright_year} &copy; Leonardo Laureti</p>
</div>
</section>

<hr>

<section class="page-section">
<h5>Running application</h5>

<p id="app-name" class="lead">{app}</p>

<table id="table-data" class="table table-bordered table-auto table-data">
  <tbody>
    <tr>
      <td>File loaded</td>
      <td>{file_name}</td>
    </tr>
    <tr>
      <td>File version</td>
      <td>{file_version}</td>
    </tr>
    <tr>
      <td>File checksum</td>
      <td>{file_checksum}</td>
    </tr>
  </tbody>
</table>
</section>


<section class="page-section">
<h5>Application license</h5>

<div id="license"></div>
</section>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var data_file = window.store[config.app]['file'];

  var table = document.getElementById('table-data');

  if (! data_file) {
    return app.error('control.openView', 'data*');
  }


  var _open = app.view.open(null, data_file);

  _open.begin();


  var appe = document.getElementById('appe');

  appe.innerHTML = appe.innerHTML
    .replace('{release}', app.getVersion('release'))
    .replace('{copyright_year}', new Date().getFullYear());


  var app_name = document.getElementById('app-name');
  app_name.innerHTML = app.getName();

  var app_file_name = app.os.getLastFileName(config) || 'n.d.';
  var app_file_version = data_file.version || 'n.d.';
  var app_file_checksum = 'n.d.'; //TODO fn


  var tbody = table.querySelector('tbody');
  var rows = tbody.innerHTML;

  rows = rows.replace('{file_name}', app_file_name)
    .replace('{file_version}', app_file_version)
    .replace('{file_checksum}', app_file_checksum);

  tbody.innerHTML = rows;


  var license = document.getElementById('license');
  var app_license = app.getLicense();

  if (app_license) {
    var _license = null;

    if (typeof app_license === 'object') {
      _license = document.createElement('p');
      _license.innerHTML = app_license.text.toString();
      license.appendChild(_license);

      _license = document.createElement('iframe');
      _license.setAttribute('class', 'license');
      _license.setAttribute('readonly', '');
      _license.setAttribute('src', app_license.file.toString());
      license.appendChild(_license);
    } else if (app_license.length <= 64) {
      _license = document.createElement('p');
      _license.innerHTML = app_license.toString();
      license.appendChild(_license);
    } else {
      _license = document.createElement('textarea');
      _license.setAttribute('class', 'license');
      _license.setAttribute('readonly', '');
      _license.setAttribute('disabled', '');
      _license.innerHTML = app_license;
      license.appendChild(_license);
    }
  } else {
    license.parentNode.remove();
  }


  if ('matchMedia' in window) {
    var wab_btn = document.querySelector('.btn-wab');

    if (matchMedia('(min-width: 1200px)').matches) {
      wab_btn.setAttribute('data-mobile-href', wab_btn.href);
      wab_btn.setAttribute('href', wab_btn.getAttribute('data-desktop-href'));
    }
  }


  _open.end();
}


app.load(app.view.load);
</script>
</body>
</html>