<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_edit">
<h1 id="view-title" class="page-header">Archive</h1>
<h2 id="section-title" class="sub-header"></h2>


<div id="section-actions-top" class="section-actions section-actions-top">
  <div>
    <a class="btn btn-sm btn-gray-lighter" href="../index.html?archive" target="_parent">&laquo; Return Back</a>
  </div>
</div>

<form id="form-data" class="form form-data" autocomplete="off" validate>
<fieldset>
<legend>Popularity</legend>

<table class="table table-bordered table-auto">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Toyes</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <label for="archive_item_pop_movies" class="sr-only" aria-hidden="true">Movies</label>
      <input type="number" id="archive_item_pop_movies" name="pop[movies]" class="form-control input-lg" value="0" data-transform="integer" required>
    </td>
    <td>
      <label for="archive_item_pop_toyes" class="sr-only" aria-hidden="true">Toyes</label>
      <input type="number" id="archive_item_pop_toyes" name="pop[toyes]" class="form-control input-lg" value="0" data-transform="integer" required>
    </td>
    <td>
      <label for="archive_item_pop_books" class="sr-only" aria-hidden="true">Books</label>
      <input type="number" id="archive_item_pop_books" name="pop[books]" class="form-control input-lg" value="0" data-transform="integer" required>
    </td>
  </tbody>
</table>
</fieldset>


<fieldset>
<legend>Details</legend>

<div class="form-group">
  <div class="checkbox">
    <label for="archive_item_custom_1"><input type="checkbox" id="archive_item_custom_1" name="custom[1]"> custom 1</label>
  </div>
</div>

<div class="form-group">
  <div class="checkbox">
    <label for="archive_item_custom_2"><input type="checkbox" id="archive_item_custom_2" name="custom[2]"> custom 2</label>
  </div>
</div>
</fieldset>


<fieldset class="form-submit">
  <input type="hidden" id="archive_item_pop_total" name="pop[total]" value="">

  <input type="hidden" id="index" name="id" value="{id}" data-transform="integer">
  <input type="submit" id="real-submit" hidden class="hide">
  <button type="button" id="submit" class="btn btn-primary btn-lg" onclick="control.action(this, 'edit')">Update Item Archive</button>
</fieldset>
</form>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = appe__control = {};



control.handle = function(data) {
  var data_archive = data['archive'];
  var data_categories = data['categories'];
  var data_items = data['items'];

  var form = document.getElementById('form-data');

  if (! data_archive || ! data_categories || ! data_items) {
    return app.error('control.handle', 'data*');
  }



  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id');
  var category_id = app.memory.get('category_id');

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var categories_data = __data ? data_categories[category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};



  var _control = app.view.control(null, archive_data, form);

  _control.begin();

  
  var event = _control.getEvent();
  var id = _control.getID();


  var title = '';

  if (data_archive[archive_id][category_id]) {
    title += 'Item "' + data_items[id].name.toUpperCase() + '"';
    title += ' – ' + data_archive[archive_id][category_id].title;
  }

  _control.setTitle(title);

  _control.setActionHandler();



  if (! archive_items[id].pop) {
    archive_items[id].pop = {};
  }



  _control.fillForm(form, archive_items[id], archive_data);



  if (! archive_data.status) {
    _control.denySubmit();
  }



  _control.end();
}



control.fillForm = function(data_form, extra) {
  if (! data_form) {
    return app.error('control.fillForm', arguments);
  }



  var archive_data_extra = extra[0];

  data_form.custom = data_form.custom || { '1': false, '2': false };



  document.getElementById('archive_item_pop_movies').setAttribute('value', (data_form.pop['movies'] || 0));
  document.getElementById('archive_item_pop_toyes').setAttribute('value', (data_form.pop['toyes'] || 0));
  document.getElementById('archive_item_pop_books').setAttribute('value', (data_form.pop['books'] || 0));


  data_form.custom['1'] && (document.getElementById('archive_item_custom_1').setAttribute('checked', ''));
  data_form.custom['2'] && (document.getElementById('archive_item_custom_2').setAttribute('checked', ''));


  if (! archive_data_extra.status) {
    document.getElementById('archive_item_pop_movies').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_movies').setAttribute('disabled', '');

    document.getElementById('archive_item_pop_toyes').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_toyes').setAttribute('disabled', '');

    document.getElementById('archive_item_pop_movies').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_books').setAttribute('disabled', '');


    document.getElementById('archive_item_custom_1').setAttribute('readonly', '');
    document.getElementById('archive_item_custom_1').setAttribute('disabled', '');

    document.getElementById('archive_item_custom_2').setAttribute('readonly', '');
    document.getElementById('archive_item_custom_2').setAttribute('disabled', '');
  }
}



control.action = function(element, event, extra) {
  var form = document.getElementById('form-data');

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'edit' ], event, element, form);

  _action.begin();


  if (_action.validateForm()) {
    return;
  }


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};

  _events.edit = function() {
    var data_archive = app.data('archive');

    if (! data_archive) {
      return app.error('control.action().edit', 'data*');
    }

    var archive_id = app.memory.get('archive_id');
    var category_id = app.memory.get('category_id');

    _data_updated['archive'] = data_archive;

    var _ext_data = app.utils.extendObject(true, _data_updated['archive'][archive_id][category_id]['items'][id], app.view.getFormData(form.elements));

    _data_updated['archive'][archive_id][category_id]['items'][id] = _ext_data;

    return _action.edit(_data_updated, true);
  }


  var ctl = _events[event](extra);

  app.view.send(ctl);

  _action.end();
}



app.load(app.view.load);
app.unload(app.view.unload);
</script>
</body>
</html>