<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_edit">
<h1 id="view-title" class="page-header">Archive</h1>
<h2 id="section-title" class="sub-header">{section}</h2>


<div id="section-actions-top" class="section-actions section-actions-top">
  <div>
    <a class="btn btn-sm btn-gray-lighter" href="../index.html?archive" target="_parent">&laquo; torna indietro</a>
  </div>
</div>

<form id="form-data" class="form form-data" autocomplete="off" validate>
<fieldset>
<legend>Popularity</legend>

<table class="table table-bordered table-auto">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Toyes</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <label for="archive_item_pop_movies" class="sr-only" aria-hidden="true">Movies</label>
      <input type="number" id="archive_item_pop_movies" name="pop[movies]" class="form-control input-lg" value="0" data-transform="integer" required {readonly} {disabled}>
    </td>
    <td>
      <label for="archive_item_pop_toyes" class="sr-only" aria-hidden="true">Toyes</label>
      <input type="number" id="archive_item_pop_toyes" name="pop[toyes]" class="form-control input-lg" value="0" data-transform="integer" required {readonly} {disabled}>
    </td>
    <td>
      <label for="archive_item_pop_books" class="sr-only" aria-hidden="true">Books</label>
      <input type="number" id="archive_item_pop_books" name="pop[books]" class="form-control input-lg" value="0" data-transform="integer" required {readonly} {disabled}>
    </td>
  </tbody>
</table>
</fieldset>


<fieldset>
<legend>Details</legend>

<div class="form-group">
  <div class="checkbox">
    <label for="archive_item_custom_1"><input type="checkbox" id="archive_item_custom_1" name="custom_1"> custom 1</label>
  </div>
</div>

<div class="form-group">
  <div class="checkbox">
    <label for="archive_item_custom_2"><input type="checkbox" id="archive_item_custom_2" name="custom_2"> custom 2</label>
  </div>
</div>
</fieldset>


<fieldset class="form-submit">
  <input type="hidden" id="index" name="id" value="{id}" data-transform="integer">
  <input type="submit" id="real-submit" hidden class="hide">
  <button type="button" id="submit" class="btn btn-primary btn-lg" onclick="control.action(this, 'edit')">Update Item Archive</button>
</fieldset>
</form>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var archive_id = app.memory.get('archive_id'), category_id = app.memory.get('category_id');
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];

  if (! data_items || ! data_archive) {
    return app.error(null, [ 'archive-item-edit', 'control.openView' ]);
  }

  var view = 'archive';
  var event = null;
  var id = 0;

  var routes = config.routes;
  var actions = {};

  Array.prototype.forEach.call(Object.keys(config.events), function(event) {
    actions[config.events[event]] = event;
  });

  var loc = app.view.spoof();

  var default_event = config.defaultEvent;  
  var pass = true;

  if (loc && typeof loc === 'object') {
    if (loc.action) {
      if (routes[view][loc.action]) {
        event = actions[loc.action];
      } else {
        pass = false;
      }

      if (loc.index) {
        id = parseInt(loc.index);
      }
    } else {
      event = default_event;
    }
  } else {
    pass = false;
  }

  if (! pass) {
    return app.error();
  }

  var view_title = document.getElementById('view-title');
  var section_title = document.getElementById('section-title');

  var form = document.getElementById('form-data');
  var action_handler = document.getElementById('submit');
  var action_index = document.getElementById('index');

  action_index.setAttribute('value', id);

  var archive_items = data_archive[archive_id][category_id].items;

  if (! id || ! archive_items) {
    return app.error(null, [ 'archive-item-edit', 'control.openView', 1 ]);
  }

  control.temp = {};
  control.temp.archive_id = archive_id;
  control.temp.category_id = category_id;

  var title = data_items[id].name;
  section_title.innerHTML = 'Item "' + title.toUpperCase() + '"';
  section_title.innerHTML += ' – ' + data_archive[archive_id][category_id].title;

  control.fillForm([ data_archive[archive_id][category_id].status, archive_items[id], data_items[id] ]);

  app.view.resizeView(false);

  control.temp.form_submit = false;
  control.temp.form_elements = form.elements;
  control.temp.form_changes = JSON.stringify(app.utils.getFormData(control.temp.form_elements));
}

control.fillForm = function(obj) {
  if (! obj || ! control.temp) {
    return app.error(null, [ 'archive-item-edit', 'control.fillForm' ]);
  }

  var status = obj[0] ? true : false;

  if (! status) {
    document.getElementById('archive_item_pop_movies').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_movies').setAttribute('disabled', '');

    document.getElementById('archive_item_pop_toyes').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_toyes').setAttribute('disabled', '');

    document.getElementById('archive_item_pop_movies').setAttribute('readonly', '');
    document.getElementById('archive_item_pop_books').setAttribute('disabled', '');
  }

  document.getElementById('archive_item_pop_movies').setAttribute('value', (obj[1].pop['movies'] || 0));
  document.getElementById('archive_item_pop_toyes').setAttribute('value', (obj[1].pop['toyes'] || 0));
  document.getElementById('archive_item_pop_books').setAttribute('value', (obj[1].pop['books'] || 0));


  var custom_1 = obj[1].custom_1 ? true : false;
  var custom_2 = obj[1].custom_2 ? true : false;

  if (custom_1) {
    document.getElementById('archive_item_custom_1').setAttribute('checked', '');
  }
  if (custom_2) {
    document.getElementById('archive_item_custom_2').setAttribute('checked', '');
  }
}



/*control.renderSelect = function() {
  Array.prototype.forEach.call(Object.keys(select_optgroup), function(group_name) {
    select_opts += '<optgroup label="' + group_name.toUpperCase() + '">' + select_optgroup[group_name] + '</optgroup>';
  });

  return select_opts;
}*/



control.action = function(element, event) {
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];

  if (! data_items || ! data_archive || ! control.temp) {
    return app.error(null, [ 'archive-item-edit', 'control.action' ]);
  }

  if (! element || typeof event !== 'string') {
    return app.error(null, [ 'archive-item-edit', 'control.action' ]);
  }

  var ctl = false;
  var submitted_data = {};

  var form = document.getElementById('form-data');
  var action_submit = document.getElementById('real-submit');
  var action_index = document.getElementById('index');
  var id = action_index.getAttribute('value');
  id = parseInt(id);

  if (! form.checkValidity()) {
    Array.prototype.forEach.call(form.elements, function(field) {
      var closest_group = null;
      if (field.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode;
      } else if (field.parentNode.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode.parentNode;
      }
      if (closest_group && closest_group.classList) {
        if (closest_group.querySelector(':invalid')) {
          closest_group.classList.remove('has-success');
          closest_group.classList.add('has-error');
        } else {
          closest_group.classList.remove('has-error');
          closest_group.classList.add('has-success');
        }
      }
    });
    action_submit.click();
    return false;
  }

  var archive_id = control.temp.archive_id;
  var category_id = control.temp.category_id;
  var regolamento_id = data_archive[archive_id][category_id].regolamento_id;
  var archive_items = data_archive[archive_id][category_id].items;

  if (id && event === 'edit') {
    submitted_data['archive'] = data_archive;

    var ext_data_id = app.utils.extendObject(archive_items[id], app.utils.getFormData(form.elements));

    submitted_data['archive'][archive_id][category_id]['items'][id] = ext_data_id;

    submitted_data = JSON.stringify(submitted_data);

    if (submitted_data) {
      ctl = { view: 'archive', action: event, index: id, submit: true, data: submitted_data };
    }
  }

  if (ctl) {
    control.temp.form_submit = true;
    ctl = JSON.stringify(ctl);
    window.parent.postMessage(ctl, '*');
    return true;
  }
}


window.store = {};

app.load(app.view.load);
app.unload(app.view.unload);
app.utils.addEvent('resize', window, app.view.resizeView);
app.utils.addEvent('orientationchange', window, app.view.resizeView);
</script>
</body>
</html>