<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_handle">
<h1 id="view-title" class="page-header">Archive</h1>
<h2 id="section-title" class="sub-header">{section}</h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-left">
    <label for="selection" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">Select archive</label>
    <select id="selection" onchange="control.action(this, 'selection')"></select>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')">Export <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')">Print</button>
  </div>
  <div class="clearfix"></div>
  <div>
    <a class="btn btn-gray-light" href="../index.html?archive&add" target="_parent">Create New Archive &raquo;</a>
    <div class="clearfix visible-xs-block visible-sm-block visible-md-block"></div>
    <a class="action btn btn-gray-lighter" href="../index.html?archive&close={id}" onclick="control.action(this, 'close'); return false;" target="_parent">Close Archive</a>
    <a class="action btn btn-secondary" href="../index.html?archive&edit={id}" onclick="control.action(this, 'edit'); return false;" target="_parent">Edit Archive</a>
    <a class="action btn btn-danger" href="../index.html?archive&delete={id}" onclick="control.action(this, 'delete'); return false;" target="_parent">Delete Archive</a>
  </div>
</div>


<form id="form-data" class="form form-data" autocomplete="off" validate>
<div class="table-responsive">
  <table id="table-data" class="table table-data">
    <thead>
      <tr class="hidden-csv">
        <th class="hidden-print">Actions</th>
        <th>ID</th>
        <th class="text-nowrap">Name</th>
        <th>New samples</th>
        <th>New finds</th>
        <th colspan="4" class="text-center">Popularity</th>
      </tr>
      <tr class="visible-csv hidden">
        <th>ID</th>
        <th>Name</th>
        <th>New samples</th>
        <th>New finds</th>
        <th>Movies</th>
        <th>Toyes</th>
        <th>Books</th>
        <th>SUBTOTAL</th>
      </tr>
      <tr class="hidden-csv">
        <td class="hidden-print"></td>
        <td colspan="4"></th>
        <td class="text-center text-nowrap">Movies</td>
        <td class="text-center text-nowrap">Toyes</td>
        <td class="text-center text-nowrap">Books</td>
        <td class="text-center text-nowrap"><strong>SUBTOTAL</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td class="hidden-print">
          <a class="action btn btn-gray" href="../index.html?archive&open={id}" onclick="control.action(this, 'open'); return false;" target="_parent">Open</a>
        </td>
        <td>{id}</td>
        <td class="text-uppercase text-nowrap">{name}</td>
        <td class="text-nowrap">{custom_1}</td>
        <td class="text-nowrap">{custom_2}</td>
        <td class="text-center">{pop_movies}</td>
        <td class="text-center">{pop_toyes}</td>
        <td class="text-center">{pop_books}</td>
        <td class="text-center"><strong>{pop_subtotal}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
</form>


<div id="table-wrap-2">
<h4>Review</h4>

<table id="table-2" class="table table-bordered table-auto table-inline">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Toyes</th>
      <th>Books</th>
      <th><strong>SUBTOTAL</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td>{archive_pop_movies}</td>
      <td>{archive_pop_toyes}</td>
      <td>{archive_pop_books}</td>
      <td><strong>{archive_pop_subtotal}</strong></td>
    </tr>
  </tbody>
</table>
</div>


<div id="section-actions-bottom" class="section-actions section-actions-bottom">
  <a class="action btn btn-gray-lighter" href="../index.html?archive&close={id}" onclick="control.action(this, 'close'); return false;" target="_parent">Close Archive</a>
  <a class="action btn btn-secondary" href="../index.html?archive&edit={id}" onclick="control.action(this, 'edit'); return false;" target="_parent">Edit Archive</a>
  <a class="action btn btn-danger" href="../index.html?archive&delete={id}" onclick="control.action(this, 'delete'); return false;" target="_parent">Delete Archive</a>
</div>


<style type="text/css">
#table-wrap-2 { margin-bottom: 60px; }
#table-wrap-2 h4 { margin-bottom: 25px; }
#table-wrap-2 h5 { margin-top: 20px; margin-bottom: 10px; }
</style>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var data_archive = window.store[config.app]['archive'];
  var data_categories = window.store[config.app]['categories'];
  var data_items = window.store[config.app]['items'];

  var table = document.getElementById('table-data');

  if (! data_archive || ! data_categories || ! data_items) {
    return app.error('control.openView', 'data*');
  }


  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id');
  var category_id = app.memory.get('category_id');

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};
  var categories_data = __data ? data_categories[category_id] : {};



  var archive_selection = [];

  Array.prototype.forEach.call(Object.keys(data_archive), function(id) {
    var obj = {};
    obj[id] = data_archive[id][category_id].title;
    archive_selection.push(obj);
  });


  var _open = app.view.open(null, archive_data);

  _open.begin();


  var event = _open.getEvent();
  var id = _open.setID(archive_id);


  _open.setTitle(archive_data.title || '');

  _open.fillCTA(__data && id);
  _open.fillSelection(archive_selection, (__data && id));



  // join (items) + order (archive.items[id].pop.subtotal) + subtotals

  var _archive_items_join = {};

  Array.prototype.forEach.call(Object.keys(archive_items), function(_id) {
    if (data_items[_id]) {
      _archive_items_join[_id] = app.utils.extendObject(true, archive_items[_id], data_items[_id]);
    } else {
      delete _archive_items_join[_id];
    }
  });

  var _order = [];
  var _ordered_keys = [];

  var _data_updated = {};

  var _archive_items_subtotals = { 'movies': 0, 'toyes': 0, 'books': 0, 'subtotal': 0 };

  Array.prototype.forEach.call(Object.keys(_archive_items_join), function(_id) {
    if (! _archive_items_join[_id].pop) {
      _archive_items_join[_id].pop = {};
    }

    _archive_items_join[_id].pop['movies'] = parseInt(_archive_items_join[_id].pop['movies'] || 0);
    _archive_items_join[_id].pop['toyes'] = parseInt(_archive_items_join[_id].pop['toyes'] || 0);
    _archive_items_join[_id].pop['books'] = parseInt(_archive_items_join[_id].pop['books'] || 0);

    _archive_items_join[_id].pop.subtotal  = 0;
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['movies'];
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['toyes'];
    _archive_items_join[_id].pop.subtotal += _archive_items_join[_id].pop['books'];

    _archive_items_subtotals['movies'] += _archive_items_join[_id].pop['movies'];
    _archive_items_subtotals['toyes'] += _archive_items_join[_id].pop['toyes'];
    _archive_items_subtotals['books'] += _archive_items_join[_id].pop['books'];
    _archive_items_subtotals.subtotal += _archive_items_join[_id].pop.subtotal;

    _order.push([ _id, (_archive_items_join[_id].pop.subtotal != undefined ? _archive_items_join[_id].pop.subtotal : _id) ]);
  });

  _order.sort(function(a, b) { return b[1] - a[1]; });
  _order = Object.values(_order);

  Array.prototype.forEach.call(_order, function(value) {
    _ordered_keys.push(value[0]);
  });



  _open.fillTable(table, _archive_items_join, _ordered_keys, archive_items);



  var t2body = document.querySelector('#table-2 > tbody');
  var t2head = document.querySelector('#table-2 > thead');
  var t2row = t2body.querySelector('tr');

  t2row.innerHTML = t2row.innerHTML
    .replace('{archive_pop_movies}', _archive_items_subtotals['movies'])
    .replace('{archive_pop_toyes}', _archive_items_subtotals['toyes'])
    .replace('{archive_pop_books}', _archive_items_subtotals['books'])
    .replace('{archive_pop_subtotal}', _archive_items_subtotals.subtotal);



  _open.end();
}

control.renderRow = function(tpl_row, id_row, data_row, data_extra) {
  if (! tpl_row || ! data_row) {
    return app.error('control.renderRow', arguments);
  }


  var archive_items_extra = data_extra[0];
  //TODO FIX data
  archive_items_extra[data_row.id] = archive_items_extra[data_row.id] || {};
  archive_items_extra[data_row.id].custom = archive_items_extra[data_row.id].custom || { '1': false, '2': false };


  var row = tpl_row.cloneNode(true);

  row.setAttribute('data-index', data_row.id);

  row.innerHTML = row.innerHTML
    .replace(/\{id\}/g, data_row.id)
    .replace('{name}', data_row.name)
    .replace('{custom_1}', (archive_items_extra[data_row.id].custom['1'] ? 'yes' : 'no'))
    .replace('{custom_2}', (archive_items_extra[data_row.id].custom['2'] ? 'yes' : 'no'))
    .replace('{pop_movies}', data_row.pop['movies'])
    .replace('{pop_toyes}', data_row.pop['toyes'])
    .replace('{pop_books}', data_row.pop['books'])
    .replace('{pop_subtotal}', data_row.pop['subtotal']);

  return row;
}

control.action = function(element, event, data_extra) {
  var data_archive = window.store[config.app]['archive'];

  var table = document.getElementById('table-data');

  if (! data_archive) {
    return app.error('control.action', arguments);
  }

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'selection', 'open', 'edit', 'delete', 'close', 'export', 'print' ], event, element, data_archive);

  _action.begin();


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};

  //TODO rename
  _events._remove = function() {
    _data_updated['archive'] = data_archive;

    delete _data_updated[id];
  }

  _events._close = function() {
    var category_id = app.memory.get('category_id');

    _data_updated['archive'] = data_archive;
    _data_updated['archive'][id][category_id].status = 0;
  }

  _events.selection = function() {
    return _action.selection(null, true);
  }

  _events.open = function() {
    return _action.open(_data_updated, false);
  }

  _events.edit = function() {
    return _action.edit(_data_updated, false);
  }

  _events.delete = function() {
    _events._remove();

    var category_id = app.memory.get('category_id');

    var _title = 'Are you sure to delete "' + data_archive[id][category_id].title + '" archive?';
    _title += '\n\nATTENZIONE! L’OPERAZIONE È IRREVERSIBILE E VERRANNO PERSI TUTTI I DATI PRESENTI NELL\'ARCHIVIO';

    return _action.delete(_data_updated, true, _title);
  }

  _events.close = function() {
    _events._close();

    var category_id = app.memory.get('category_id');

    var _title = 'Are you sure to close "' + data_archive[id][category_id].title + '" archive?';

    return _action.close(_data_updated, true, _title);
  }

  _events.export = function(subControl) {
    var _dropdown = element.parentNode.parentNode.parentNode;

    app.view.sub(subControl, element, table)();

    return;
  }

  _events.print = function() {
    return _action.print();
  }


  var ctl = _events[event](data_extra);

  app.view.send(ctl);

  _action.end();
}


app.load(app.view.load);
</script>
</body>
</html>