<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_list">
<h1 id="view-title" class="page-header">Average</h1>
<h2 id="section-title" class="sub-header"></h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-left">
    <label for="selection" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">Select archive</label>
    <select id="selection" onchange="control.action(this, 'selection')"></select>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')">Export <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')">Print</button>
  </div>
</div>


<form id="form-data" class="form form-data" autocomplete="off" validate>
<div class="table-responsive">
  <table id="table-data" class="table table-data">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>AVG</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td>{id}</td>
        <td>{name}</td>
        <td>
          <input type="number" name="items[{id}][pop][avg]" class="form-control form-control-editable input-lg" data-placeholder-value data-transform="integer" data-placeholder-readonly data-placeholder-disabled>
          <input type="hidden" name="items[{id}][pop][total]" value="">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<fieldset class="form-submit">
  <input type="submit" id="real-submit" class="hide" hidden>
  <button type="button" id="submit" class="btn btn-primary btn-lg" onclick="control.action(this, 'update')">Update Average</button>
</fieldset>
</form>


<style type="text/css">
.table > thead > tr > th:first-child, .table > tbody > tr > td:first-child { width: 100px; }
</style>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = appe__control = {};



control.handle = function(data) {
  var data_items = data['items'];
  var data_archive = data['archive'];

  var form = document.getElementById('form-data');
  var table = document.getElementById('table-data');
  var selection = document.getElementById('selection');

  if (! data_items || ! data_archive) {
    return app.error('control.handle', 'data*');
  }



  var __data = Object.keys(data_archive).length;

  var archive_id = app.memory.get('archive_id');
  var category_id = app.memory.get('category_id');

  var archive_data = __data ? data_archive[archive_id][category_id] : {};
  var archive_items = __data ? data_archive[archive_id][category_id].items : {};



  var archive_selection = [];

  Array.prototype.forEach.call(Object.keys(data_archive), function(id) {
    var obj = {};
    obj[id] = data_archive[id][category_id].title;
    archive_selection.push(obj);
  });


  var _control = app.view.control(null, archive_data, form);

  _control.begin();


  var event = _control.getEvent();
  var id = _control.setID(archive_id);


  _control.setTitle(archive_data.title || '');

  _control.fillSelection(archive_selection, (__data && id));



  // join (items)

  var _archive_items_join = {};

  Array.prototype.forEach.call(Object.keys(archive_items), function(_id) {
    if (data_items[_id]) {
      _archive_items_join[_id] = app.utils.extendObject(true, archive_items[_id], data_items[_id]);
    } else {
      delete _archive_items_join[_id];
    }
  });

  var _order = [];
  var _ordered_keys = [];

  Array.prototype.forEach.call(Object.keys(_archive_items_join), function(id) {
    if (! _archive_items_join[id].pop) {
      _archive_items_join[id].pop = {};
    }

    _archive_items_join[id].pop['avg'] = parseInt(_archive_items_join[id].pop['avg'] || 0);
  });



  _control.fillTable(table, _archive_items_join, false, archive_data);



  if (! __data || ! archive_data.status) {
    _control.denySubmit();
  }



  _control.end();
}



control.renderRow = function(tpl_row, id_row, data_row, extra) {
  if (! tpl_row || ! data_row) {
    return app.error('control.renderRow', arguments);
  }

  var archive_data_extra = extra[0];


  var row = tpl_row.cloneNode(true);

  row.setAttribute('data-index', data_row.id);

  row.innerHTML = row.innerHTML
    .replace(/\{id\}/g, data_row.id)
    .replace('{name}', data_row.name)
    .replace('data-placeholder-value', 'value="' + (data_row.pop['avg'] || 0) + '"')
    .replace('data-placeholder-readonly', (archive_data_extra.status ? '' : 'readonly'))
    .replace('data-placeholder-disabled', (archive_data_extra.status ? '' : 'disabled'));

  return row;
}



control.action = function(element, event, extra) {
  var table = document.getElementById('table-data');
  var form = document.getElementById('form-data');

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'selection', 'update', 'export', 'print' ], event, element, form);

  _action.begin();



  var id = _action.getID();


  var _data_updated = {};


  var _events = {};

  _events.selection = function() {
    return _action.selection();
  }

  _events.update = function() {
    if (_action.validateForm()) {
      return;
    }

    var data_archive = app.data('archive');

    if (! data_archive) {
      return app.error('control.action().update', 'data*');
    }

    var archive_id = app.memory.get('archive_id');
    var category_id = app.memory.get('category_id');

    _data_updated['archive'] = data_archive;

    var _ext_data = app.utils.extendObject(true, _data_updated['archive'][archive_id][category_id].items, app.view.getFormData(form.elements).items);

    _data_updated['archive'][archive_id][category_id]['items'] = _ext_data;

    return _action.update(_data_updated, true);
  }

  _events.export = function(method) {
    app.view.sub(method, element, table);

    return;
  }

  _events.print = function() {
    return _action.print();
  }


  var ctl = _events[event](extra);

  app.view.send(ctl);

  _action.end();
}



app.load(app.view.load);
app.unload(app.view.unload);
</script>
</body>
</html>