<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view">
<h1 class="page-header">Items</h1>
<h2 class="sub-header">Items list</h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')">Export <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')">Print</button>
  </div>
  <div class="clearfix"></div>
  <div>
    <a class="btn btn-gray" href="../index.html?items&add" target="_parent">Add item &raquo;</a>
  </div>
</div>

<form id="form-data" class="form form-data" autocomplete="off" validate>
<div class="table-responsive">
  <table id="table-data" class="table table-data">
    <thead>
      <tr>
        <th class="hidden-print">Actions</th>
        <th>ID</th>
        <th class="text-nowrap">Name</th>
        <th>Title</th>
        <th class="text-nowrap">Type</th>
        <th class="text-nowrap">Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td class="hidden-print">
          <a class="action btn btn-secondary" href="../index.html?items&edit={id}" onclick="control.action(this, 'edit'); return false;" target="_parent">edit</a>
          <a class="action btn btn-danger" href="../index.html?items&delete={id}" onclick="control.action(this, 'delete'); return false;" target="_parent">delete</a>
        </td>
        <td>{id}</td>
        <td class="text-uppercase">{name}</td>
        <td>{title}</td>
        <td>{type}</td>
        <td class="text-nowrap">{date}</td>
        <td>{status}</td>
      </tr>
    </tbody>
  </table>
</div>
</form>


<script type="text/javascript" src="../assets/js/app.min.js"></script>
<script type="text/javascript" src="../assets/js/file-saver/FileSaver.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var archive_id = app.memory.get('archive_id'), category_id = app.memory.get('category_id');
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];
  var data_categories = window.store[config.app]['categories'];

  if (! data_items || ! data_archive || ! data_categories) {
    return app.error(null, [ 'items', 'control.openView' ]);
  }

  var view_title = document.getElementById('view-title');
  var section_title = document.getElementById('section-title');

  var archive_data = data_archive[archive_id][category_id];
  var archive_items = data_archive[archive_id][category_id].items;
  var categories_data = data_categories[archive_id][category_id];

  if (! archive_items || ! archive_data || ! categories_data) {
    return app.error(null, [ 'items', 'control.openView' ]);
  }

  var tbody = document.querySelector('#table-data > tbody');
  var trow_tpl = tbody.querySelector('tr.tpl').cloneNode(true);
  trow_tpl.classList.remove('tpl');

  control.temp = {};
  control.temp.archive_id = archive_id;
  control.temp.category_id = category_id;
  control.temp.archive_data = archive_data;
  control.temp.categories_data = categories_data;

  var blob = '';

  Array.prototype.forEach.call(Object.keys(data_items), function(id) {
    var row = control.renderRow(trow_tpl, data_items[id]);
    blob += row.outerHTML;
  });

  tbody.innerHTML = blob;

  app.view.resizeView(false);
}

control.renderRow = function(tpl, obj) {
  if (! obj || ! control.temp) {
    return app.error(null, [ 'items', 'control.renderRow' ]);
  }

  var row = tpl.cloneNode(true);

  row.setAttribute('data-index', obj.id);

  var category = control.temp.categories_data;
  var type = category.types[obj.type];
  var status = obj.status ? '<span class="badge status-on">&nbsp;</span> enabled' : '<span class="badge status-off">&nbsp;</span> disabled';
  var date = obj.date;
  date = new Date(date);
  date = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + '/' + (date.getMonth() < 9 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '/' + date.getFullYear();

  row.innerHTML = row.innerHTML
    .replace(/{id}/g, obj.id)
    .replace('{name}', obj.name)
    .replace('{title}', obj.title)
    .replace('{type}', type)
    .replace('{date}', date)
    .replace('{status}', status)

  return row;
}

control.action = function(element, event) {
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];

  if (! data_items || ! data_archive || ! control.temp) {
    return app.error(null, [ 'items', 'control.action' ]);
  }

  if (! element || typeof event !== 'string') {
    return app.error(null, [ 'items', 'control.action' ]);
  }

  var ctl = false;
  var submitted_data = {};

  var archive_id = control.temp.archive_id;
  var category_id = control.temp.category_id;

  var trow = element.parentNode.parentNode;
  var id = trow.getAttribute('data-index');
  id = parseInt(id);

  if (id && (event === 'edit' || event === 'delete')) {
    ctl = { view: 'items', action: event, index: id };

    if (event === 'delete') {
      ctl.msg = 'Sei sicuro di voler deletere il itemsnativo #' + id + ' ?';

      submitted_data['items'] = data_items;
      submitted_data['archive'] = data_archive;

      delete submitted_data['items'][id];
      delete submitted_data['archive'][archive_id][category_id]['items'][id];

      ctl.submit = true;
      ctl.data = JSON.stringify(submitted_data);
    }
  }

  if (event === 'export' && arguments.length === 3) {
    var sub_cmd = arguments[2].toString();

    if (! sub_cmd) {
      return;
    }

    var _table = document.querySelector('#table-data');
    var _dropdown = element.parentNode.parentNode.parentNode;

    if (sub_cmd === 'csv') {
      var source = app.view.convertToCSV(_table);
      var filename = 'csv_export';
      var date = new Date();

      filename += '_' + (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + '-' + (date.getMonth() < 9 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-' + date.getFullYear();
      filename += '_' + (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + '-' + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes());

      var file = new File(
        [ source ],
        filename + '.csv',
        { type: 'text/csv;charset=utf-8' }
      );

      saveAs(file);
    }

    if (sub_cmd === 'clipboard') {
      app.view.copyToClipboard(_table);

      var _dropdown_btn = _dropdown.querySelector('.dropdown-toggle');
      _dropdown_btn.classList.add('btn-gray-lighter');

      setTimeout(function() {
        _dropdown_btn.classList.remove('btn-gray-lighter');
        this.clearTimeout();
      }, 1000);
    }

    if (! ('jQuery' in window && 'dropdown' in jQuery.fn)) {
      if (sub_cmd === 'toggler') {
        app.utils.dropdown('toggle', element, _dropdown)();
      }

      app.utils.addEvent('click', document.body, app.utils.dropdown('close', element, _dropdown));
    }
  }

  if (event === 'print') {
    return window.print();
  }

  if (ctl) {
    ctl = JSON.stringify(ctl);
    window.parent.postMessage(ctl, '*');
    return;
  }
}


window.store = {};

app.load(app.view.load);
app.utils.addEvent('resize', window, app.view.resizeView);
app.utils.addEvent('orientationchange', window, app.view.resizeView);
</script>

</body>
</html>