<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_edit">
<h1 id="view-title" class="page-header">Items</h1>
<h2 id="section-title" class="sub-header">{section}</h2>


<div id="section-actions-top" class="section-actions section-actions-top">
  <div>
    <a class="btn btn-sm btn-gray-lighter" href="../index.html?items" target="_parent">&laquo; torna indietro</a>
  </div>
</div>

<form id="form-data" class="form form-data" autocomplete="off" validate>
<fieldset>
<legend>Scheda</legend>

<div class="row">
<div class="form-group col-12 col-lg-6">
  <label for="items_name">Name</label>
  <input type="text" id="items_name" name="name" class="form-control text-uppercase" data-transform="uppercase" required>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-12 col-lg-6">
  <label for="items_title">Title</label>
  <input type="text" id="items_title" name="title" class="form-control" required>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-8 col-lg-4">
  <label for="items_type">Type</label>
  <select id="items_type" name="type" class="form-control" required></select>
</div>
</div>
</fieldset>


<fieldset>
<legend>Details</legend>

<div class="row">
<div class="form-group col-12 col-lg-3">
  <label for="items_date">Date</label>
  <input type="date" id="items_date" name="date" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" data-sanitize="date" required>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-12 col-lg-3">
  <div class="checkbox">
    <label for="items_checked"><input type="checkbox" id="items_checked" name="checked"> Checked</label>
  </div>
</div>
</div>
</fieldset>


<fieldset>
<div class="form-group">
  <div class="checkbox">
    <label for="items_status"><input type="checkbox" id="items_status" name="status"> Enable</label>
  </div>
</div>
</fieldset>


<fieldset class="form-submit">
  <input type="hidden" id="index" name="id" value="{id}" data-transform="integer">
  <input type="submit" id="real-submit" class="hide" hidden>
  <button type="button" id="submit" class="btn btn-primary btn-lg" onclick="control.action(this, '{event}')">{action_label}</button>
</fieldset>
</form>


<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var archive_id = app.memory.get('archive_id'), category_id = app.memory.get('category_id');
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];
  var data_categories = window.store[config.app]['categories'];

  if (! data_items || ! data_archive || ! data_categories) {
    return app.error(null, [ 'items', 'control.openView' ]);
  }

  var view = 'items';
  var event = null;
  var id = 0;

  var routes = config.routes;
  var actions = {};

  Array.prototype.forEach.call(Object.keys(config.events), function(event) {
    actions[config.events[event]] = event;
  });

  var loc = app.view.spoof();

  var default_event = config.defaultEvent;  
  var pass = true;

  if (loc && typeof loc === 'object') {
    if (loc.action) {
      if (routes[view][loc.action]) {
        event = actions[loc.action];
      } else {
        pass = false;
      }

      if (loc.index) {
        id = parseInt(loc.index);
      }
    } else {
      event = default_event;
    }
  } else {
    pass = false;
  }

  if (! pass) {
    return app.error();
  }

  var view_title = document.getElementById('view-title');
  var section_title = document.getElementById('section-title');

  var archive_data = data_archive[archive_id][category_id];
  var archive_items = data_archive[archive_id][category_id].items;
  var categories_data = data_categories[archive_id][category_id];

  if (! archive_items || ! archive_data || ! categories_data) {
    return app.error(null, [ 'items', 'control.openView' ]);
  }

  var form = document.getElementById('form-data');
  var action_handler = document.getElementById('submit');
  var action_index = document.getElementById('index');

  if (event === 'add') {
    var last_id = Object.keys(data_items).pop();
    id = last_id ? (parseInt(last_id) + 1) : 1;
  }

  var action_handler_event = action_handler.getAttribute('onclick');
  action_handler_event = action_handler_event.replace('{event}', event);
  action_handler.setAttribute('onclick', action_handler_event);
  action_index.setAttribute('value', id);

  control.temp = {};
  control.temp.archive_id = archive_id;
  control.temp.category_id = category_id;
  control.temp.archive_data = archive_data;
  control.temp.categories_data = categories_data;

  if (! id) {
    return app.error(null, [ 'items', 'control.openView' ]);
  }

  if (event === 'edit') {
    section_title.innerHTML = 'Edit Item # ' + id;
    action_handler.innerHTML = 'Update Item';

    control.fillForm(data_items[id]);
  }

  if (event === 'add') {
    section_title.innerHTML = 'Add New Item';
    action_handler.innerHTML = 'Add Item';
  }

  if (event === 'edit' || event === 'add') {
    var type_selection = [];
    var type_selected = (event === 'edit' ? data_items[id].type : '');

    Array.prototype.forEach.call(Object.keys(categories_data.types), function(id) {
      var obj = {};
      obj[id] = categories_data.types[id];
      type_selection.push(obj);
    });

    var select_type = document.getElementById('items_type');
    select_type.innerHTML = app.layout.renderSelectOptions('items_type', type_selection, type_selected);
    select_type.value = type_selected;
  }

  app.view.resizeView(false);

  control.temp.form_submit = false;
  control.temp.form_elements = form.elements;
  control.temp.form_changes = JSON.stringify(app.view.getFormData(control.temp.form_elements));
}

control.fillForm = function(obj) {
  if (! obj || ! control.temp) {
    return app.error(null, [ 'items', 'control.fillForm' ]);
  }

  var checked = obj.checked ? true : false;
  var status = obj.status ? true : false;

  document.getElementById('items_name').setAttribute('value', obj.name);
  document.getElementById('items_title').setAttribute('value', obj.title);
  document.getElementById('items_date').setAttribute('value', obj.date);

  if (document.querySelector('#items_type > option')) {
    document.querySelector('#items_type > option[value="' + obj.type + '"]').setAttribute('selected', '');
  }

  if (checked) {
    document.getElementById('items_checked').setAttribute('checked', '');
  }

  if (status) {
    document.getElementById('items_status').setAttribute('checked', '');
  }
}

control.action = function(element, event) {
  var data_items = window.store[config.app]['items'];

  if (! data_items || ! control.temp) {
    return app.error(null, [ 'items', 'control.action' ]);
  }

  if (! element || typeof event !== 'string') {
    return app.error(null, [ 'items', 'control.action' ]);
  }

  var ctl = false;
  var submitted_data = {};

  var form = document.getElementById('form-data');
  var action_submit = document.getElementById('real-submit');
  var action_index = document.getElementById('index');
  var id = action_index.getAttribute('value');
  id = parseInt(id);

  if (! form.checkValidity()) {
    Array.prototype.forEach.call(form.elements, function(field) {
      var closest_group = null;
      if (field.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode;
      } else if (field.parentNode.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode.parentNode;
      }
      if (closest_group && closest_group.classList) {
        if (closest_group.querySelector(':invalid')) {
          closest_group.classList.remove('has-success');
          closest_group.classList.add('has-error');
        } else {
          closest_group.classList.remove('has-error');
          closest_group.classList.add('has-success');
        }
      }
    });
    action_submit.click();
    return false;
  }

  var archive_id = control.temp.archive_id;
  var category_id = control.temp.category_id;

  if (event === 'add' || event === 'edit') {
    if (event === 'add') {
      var last_id = Object.keys(data_items).pop();
      id = last_id ? (parseInt(last_id) + 1) : 1;
    }

    submitted_data['items'] = data_items;

    var ext_data_id = app.utils.extendObject(data_items[id], app.view.getFormData(form.elements));

    submitted_data['items'][id] = ext_data_id;

    submitted_data = JSON.stringify(submitted_data);

    if (id && submitted_data) {
      ctl = { view: 'items', action: event, index: id, submit: true, data: submitted_data };
    }
  }

  if (ctl) {
    control.temp.form_submit = true;
    ctl = JSON.stringify(ctl);
    console.log(ctl);
    window.parent.postMessage(ctl, '*');
    return true;
  }
}


window.store = {};

app.load(app.view.load);
app.unload(app.view.unload);
app.utils.addEvent('resize', window, app.view.resizeView);
app.utils.addEvent('orientationchange', window, app.view.resizeView);
</script>
</body>
</html>