<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_handle">
<h1 id="view-title" class="page-header">Main</h1>
<h2 id="section-title" class="sub-header">{section}</h2>


<div id="section-actions-top" class="section-actions section-actions-top clearfix">
  <div class="pull-left">
    <label for="selection" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">Select archive</label>
    <select id="selection" onchange="control.action(this, 'selection')"></select>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="control.action(this, 'export', 'toggler')">Export <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="javascript:" onclick="control.action(this, 'export', 'csv'); return false;">Export CSV</a></li>
        <li><a href="javascript:" onclick="control.action(this, 'export', 'clipboard'); return false;">Copy to clipboard</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="control.action(this, 'print')">Print</button>
  </div>
  <div class="clearfix"></div>
  <div>
    <a class="btn btn-gray-light" href="../index.html?main&list" target="_parent">List View &bull;</a>
  </div>
</div>


<div class="table-responsive">
  <table id="table-data" class="table table-data">
    <thead>
      <tr class="hidden-csv hidden-print">
        <th class="hidden-print">Actions</th>
        <th>ID</th>
        <th class="text-nowrap">Name</th>
        <th>Full Name</th>
        <th class="text-nowrap">Specimen</th>
        <th class="text-center text-nowrap">Discovered</th>
        <th class="text-center">Fantasy</th>
        <th colspan="5" class="text-center">Popularity</th>
        <th class="text-center"><strong>AWARDS</strong></th>
      </tr>
      <tr class="visible-csv hidden">
        <th>ID</th>
        <th>Name</th>
        <th>Full Name</th>
        <th>Specimen</th>
        <th>Discovered</th>
        <th>Fantasy</th>
        <th>AVG</th>
        <th>Movies</th>
        <th>Toyes</th>
        <th>Books</th>
        <th>INDEX</th>
        <th>AWARDS</th>
      </tr>
      <tr class="hidden-csv">
        <td colspan="7"></th>
        <td class="text-center text-nowrap">AVG</td>
        <td class="text-center text-nowrap">Movies</td>
        <td class="text-center text-nowrap">Toyes</td>
        <td class="text-center text-nowrap">Books</td>
        <td class="text-center text-nowrap">TOTAL</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr class="tpl">
        <td class="hidden-print">
          <a class="action btn btn-gray" href="../index.html?main&open={id}" onclick="control.action(this, 'open'); return false;" target="_parent">Open</a>
        </td>
        <td>{id}</td>
        <td class="text-nowrap text-uppercase">{name}</td>
        <td>{title}</td>
        <td class="text-nowrap"><em>{type}</em></td>
        <td class="text-center">{date}</td>
        <td class="text-center">{checked}</td>
        <td class="text-center">{pop_avg}</td>
        <td class="text-center">{pop_movies}</td>
        <td class="text-center">{pop_toyes}</td>
        <td class="text-center">{pop_books}</td>
        <td class="text-center">{pop_total}</td>
        <td class="text-center"><strong>{awards}</strong></td>
      </tr>
    </tbody>
  </table>
</div>


<script type="text/javascript" src="../assets/js/app.min.js"></script>
<script type="text/javascript" src="../assets/js/file-saver/FileSaver.min.js"></script>

<script type="text/javascript" src="../config.js"></script>

<script type="text/javascript">
var control = {};

control.openView = function() {
  var data_items = window.store[config.app]['items'];
  var data_archive = window.store[config.app]['archive'];
  var data_categories = window.store[config.app]['categories'];

  var table = document.getElementById('table-data');
  var selection = document.getElementById('selection');

  if (! data_items || ! data_archive || ! data_categories) {
    return app.error('control.openView', arguments, 'data*');
  }


  var archive_id = app.memory.get('archive_id');
  var category_id = app.memory.get('category_id');

  var archive_data = data_archive[archive_id][category_id];
  var archive_items = data_archive[archive_id][category_id].items;
  var categories_data = data_categories[archive_id][category_id];

  var archive_selection = [];

  Array.prototype.forEach.call(Object.keys(data_archive), function(id) {
    var obj = {};
    obj[id] = data_archive[id][category_id].title;
    archive_selection.push(obj);
  });


  var _open = app.view.open(null, archive_data);

  _open.begin();


  var event = _open.getEvent();
  var id = _open.setID(archive_id);


  _open.setTitle('handle', archive_data.title);

  _open.fillSelection(selection, archive_selection, id);


  var _events = {};

  _events.update = function(data_updated) {
    control.action(true, 'update', data_updated);
  }



  // join (items) + order (archive.items[id].awards) + update

  var _archive_items_join = app.utils.extendObject(true, data_items, archive_items);


//TODO check extend
//console.log(_archive_items_join, data_items, archive_items);


  var _order = [];
  var _ordered_keys = [];

  var _data_updated = {};

  Array.prototype.forEach.call(Object.keys(_archive_items_join), function(id) {
    _order.push([ id, (_archive_items_join[id].awards != undefined ? _archive_items_join[id].awards : id) ]);

    if (! _archive_items_join[id].pop) {
      _archive_items_join[id].pop = {};
    }

    _archive_items_join[id].pop['avg'] = parseInt(_archive_items_join[id].pop['avg'] || 0);
    _archive_items_join[id].pop['movies'] = parseInt(_archive_items_join[id].pop['movies'] || 0);
    _archive_items_join[id].pop['toyes'] = parseInt(_archive_items_join[id].pop['toyes'] || 0);
    _archive_items_join[id].pop['books'] = parseInt(_archive_items_join[id].pop['books'] || 0);

    if (! _archive_items_join[id].pop.total) {
      _archive_items_join[id].pop.total  = 0;
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['avg'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['movies'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['toyes'];
      _archive_items_join[id].pop.total += _archive_items_join[id].pop['books'];

      _data_updated['archive'] = data_archive;
      _data_updated['archive'][archive_id][category_id]['items'][id].pop = _archive_items_join[id].pop;
    }
  });

  _order.sort(function(a, b) { return a[1] - b[1]; });
  _order = Object.values(_order);

  Array.prototype.forEach.call(_order, function(value) {
    _ordered_keys.push(value[0]);
  });



  _open.fillTable(table, _archive_items_join, _ordered_keys, categories_data);


  if (_data_updated && Object.keys(_data_updated).length) {
    _events.update(_data_updated);
  }


  _open.end();
}

control.renderRow = function(tpl_row, id_row, data_row, data_extra) {
  if (! tpl_row || ! data_row) {
    return app.error('control.renderRow', arguments);
  }


  var categories_data_extra = data_extra[0];


  var row = tpl_row.cloneNode(true);

  row.setAttribute('data-index', data_row.id);

  row.innerHTML = row.innerHTML
    .replace(/\{id\}/g, data_row.id)
    .replace('{name}', data_row.name)
    .replace('{title}', data_row.title)
    .replace('{type}', categories_data_extra.types[data_row.type])
    .replace('{date}', app.utils.dateFormat(data_row.date, 'Y'))
    .replace('{checked}', (data_row.checked ? 'yes' : 'none'))
    .replace('{pop_avg}', data_row.pop['avg'])
    .replace('{pop_movies}', data_row.pop['movies'])
    .replace('{pop_toyes}', data_row.pop['toyes'])
    .replace('{pop_books}', data_row.pop['books'])
    .replace('{pop_total}', data_row.pop['total'])
    .replace('{awards}', (data_row.awards || 0));

  return row;
}

control.action = function(element, event, data_extra) {
  var data_archive = window.store[config.app]['archive'];

  var table = document.getElementById('table-data');

  if (! data_archive) {
    return app.error('control.action', arguments);
  }

  if (! element || typeof event !== 'string') {
    return app.error('control.action', arguments);
  }


  var _action = app.view.action([ 'selection', 'open', 'update', 'export', 'print' ], event, element, data_archive);

  _action.begin();


  var id = _action.getID();


  var _data_updated = {};


  var _events = {};

  _events.selection = function() {
    return _action.selection(null, true);
  }

  _events.open = function() {
    return _action.open(null);
  }

  _events.update = function() {
    _data_updated = data_extra;

    return _action.update(_data_updated, true);
  }

  _events.export = function(subControl) {
    var _dropdown = element.parentNode.parentNode.parentNode;

    app.view.sub(subControl, element, table)();

    return;
  }

  _events.print = function() {
    return _action.print();
  }


  var ctl = _events[event](data_extra);

  app.view.submit(ctl);

  _action.end();
}


app.load(app.view.load);
</script>
</body>
</html>