<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow,noarchive">
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/app.min.css">
</head>

<body class="view view_edit">
<h1 id="view-title" class="page-header">Items</h1>
<h2 id="section-title" class="sub-header">{section}</h2>


<div id="section-actions-top" class="section-actions section-actions-top">
  <div>
    <a class="btn btn-sm btn-gray-lighter" href="../index.html?sample" target="_parent">&laquo; torna indietro</a>
  </div>
</div>

<form id="form-data" class="form form-data" autocomplete="off" validate>
<fieldset>
<legend>Vehicle</legend>

<div class="row">
<div class="form-group col-6 col-lg-4">
  <label for="sample_vendor">Vendor</label>
  <select id="sample_vendor" name="vendor" class="form-control" required><option value="Vendor">Nome inventato</option></select>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-6 col-lg-4">
  <label for="sample_nome">Name</label>
  <select id="sample_name" name="name" class="form-control" required><option value="Vehicle">Nome inventato</option></select>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-5 col-lg-3">
  <label for="sample_type">Type</label>
  <select id="sample_type" name="type" class="form-control"><option value="berlina">berlina</option></select>
</div>

<div class="clearfix visible-lg-block"></div>

<div class="form-group col-12 col-lg-3">
  <label for="sample_date">Manufactured</label>
  <input type="date" id="sample_date" name="date" class="form-control" value="" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" data-sanitize="date" required>
</div>
</div>
</fieldset>


<fieldset>
<legend>Details</legend>

<div class="row">
<div class="form-group col-12 col-lg-6">
  <label for="sample_amount">Value Price</label>
  <input type="text" id="sample_amount" name="amount" class="form-control" required>
</div>
</div>
</fieldset>


<fieldset class="form-submit">
  <input type="hidden" id="index" name="id" value="{id}" data-transform="integer">
  <input type="submit" id="real-submit" class="hide" hidden>
  <button type="button" id="submit" class="btn btn-primary btn-lg" onclick="control.action(this, '{event}')">{action_label}</button>
</fieldset>
</form>


<script type="text/javascript" src="../assets/js/jquery/jquery.slim.min.js"></script>
<script type="text/javascript" src="../assets/js/app.min.js"></script>

<script type="text/javascript" src="../config.js"></script>


<script type="text/javascript">
var control = {};

control.openView = function() {
  var data_sample = window.store[config.app]['sample'];

  if (! data_sample) {
    return app.error(null, [ 'sample-edit', 'control.openView' ]);
  }

  var view = 'sample';
  var event = null;
  var id = 0;

  var routes = config.routes;
  var actions = {};

  Array.prototype.forEach.call(Object.keys(config.events), function(event) {
    actions[config.events[event]] = event;
  });

  var loc = app.view.spoof();

  var default_event = config.defaultEvent;  
  var pass = true;

  if (loc && typeof loc === 'object') {
    if (loc.action) {
      if (routes[view][loc.action]) {
        event = actions[loc.action];
      } else {
        pass = false;
      }

      if (loc.index) {
        id = parseInt(loc.index);
      }
    } else {
      event = default_event;
    }
  } else {
    pass = false;
  }

  if (! pass) {
    return app.error();
  }

  var view_title = document.getElementById('view-title');
  var section_title = document.getElementById('section-title');

  var form = document.getElementById('form-data');
  var action_handler = document.getElementById('submit');
  var action_index = document.getElementById('index');

  if (event === 'add') {
    var last_id = Object.keys(data_sample).pop();
    id = last_id ? (parseInt(last_id) + 1) : 1;
  }

  var action_handler_event = action_handler.getAttribute('onclick');
  action_handler_event = action_handler_event.replace('{event}', event);
  action_handler.setAttribute('onclick', action_handler_event);
  action_index.setAttribute('value', id);

  control.temp = {};

  if (! id) {
    return app.error(null, [ 'sample-edit', 'control.openView' ]);
  }

  if (event === 'edit') {
    section_title.innerHTML = 'Edit Vehicle # ' + id;

    action_handler.innerHTML = 'Update Vehicle';
    control.fillForm(data_sample[id]);
  }

  if (event === 'add') {
    section_title.innerHTML = 'Add New Vehicle';

    action_handler.innerHTML = 'Add Vehicle';
  }

  app.view.resizeView(false);

  control.temp.form_submit = false;
  control.temp.form_elements = form.elements;
  control.temp.form_changes = JSON.stringify(app.utils.getFormData(control.temp.form_elements));
}

control.fillForm = function(obj) {
  if (! obj || ! control.temp) {
    return app.error(null, [ 'sample-edit', 'control.fillForm' ]);
  }

  var date = obj.date;
  var amount = obj.amount;

  document.querySelector('#sample_vendor > option[value="' + obj.vendor + '"]').setAttribute('selected', '');
  document.querySelector('#sample_name > option[value="' + obj.name + '"]').setAttribute('selected', '');
  document.querySelector('#sample_type > option[value="' + obj.type + '"]').setAttribute('selected', '');
  document.getElementById('sample_date').setAttribute('value', date);
  document.getElementById('sample_amount').setAttribute('value', amount);
}

control.action = function(element, event) {
  var data_sample = window.store[config.app]['sample'];

  if (! data_sample || ! control.temp) {
    return app.error(null, [ 'sample-edit', 'control.action' ]);
  }

  if (! element || typeof event !== 'string') {
    return app.error(null, [ 'sample-edit', 'control.action' ]);
  }

  var ctl = false;
  var submitted_data = {};

  var form = document.getElementById('form-data');
  var action_submit = document.getElementById('real-submit');
  var action_index = document.getElementById('index');
  var id = action_index.getAttribute('value');
  id = parseInt(id);

  if (! form.checkValidity()) {
    Array.prototype.forEach.call(form.elements, function(field) {
      var closest_group = null;
      if (field.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode;
      } else if (field.parentNode.parentNode.className.indexOf('form-group') != -1) {
        closest_group = field.parentNode.parentNode;
      }
      if (closest_group && closest_group.classList) {
        if (closest_group.querySelector(':invalid')) {
          closest_group.classList.remove('has-success');
          closest_group.classList.add('has-error');
        } else {
          closest_group.classList.remove('has-error');
          closest_group.classList.add('has-success');
        }
      }
    });
    action_submit.click();
    return false;
  }

  if (event === 'add' || event === 'edit') {
    if (event === 'add') {
      var last_id = Object.keys(data_sample).pop();
      id = last_id ? (parseInt(last_id) + 1) : 1;
    }

    submitted_data['sample'] = data_sample;

    var ext_data_id = app.utils.extendObject(data_sample[id], app.utils.getFormData(form.elements));

    submitted_data['sample'][id] = ext_data_id;

    submitted_data = JSON.stringify(submitted_data);

    if (id && submitted_data) {
      ctl = { view: 'sample', action: event, index: id, submit: true, data: submitted_data };
    }
  }

  if (ctl) {
    control.temp.form_submit = true;
    ctl = JSON.stringify(ctl);
    window.parent.postMessage(ctl, '*');
    return true;
  }
}


window.store = {};

app.load(app.view.load);
app.unload(app.view.unload);
app.utils.addEvent('resize', window, app.view.resizeView);
app.utils.addEvent('orientationchange', window, app.view.resizeView);
</script>
</body>
</html>